<div class="review">
    <div class="message">
        <div class="rating">
            <div class="stars">
                {{stars}}
            </div>
            {{starsCount}} Estrelas
        </div>
        <p class="text">{{message}}</p>
        <button class="see-more">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon"><path d="M16.939 7.939 12 12.879l-4.939-4.94-2.122 2.122L12 17.121l7.061-7.06z"></path></svg>
        </button>
    </div>
    <div class="customer">
        <img class="avatar" src="{{avatar}}">
        <div class="infos">
            <span class="name">{{name}}</span>
            <span class="service"><mark>Projeto</mark>{{service}}</span>
        </div>
    </div>
</div>