<div class="review">
    <div class="message">
        <div class="rating">
            <div class="stars">
                {{stars}}
            </div>
            {{starsCount}} Estrelas
        </div>
        <p class="text">{{message}}</p>
    </div>
    <div data-message-id="1" class="customer">
        <img class="avatar" src="{{avatar}}">
        <div class="infos">
            <span class="name">{{name}}</span>
            <span class="service"><mark>Projeto</mark>{{service}}</span>
        </div>
    </div>
</div>