@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Animations Start */

@keyframes fadeIn {
    
    from {
        opacity: 0;
        pointer-events: none;
    }
    
    to {
        opacity: 1;
        pointer-events: auto;
    }

}

/* Animations End */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', 'Courier New', Courier, Roboto, Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

:root{
    --cor-texto: #ffffff;
    --cor-fundo: #25262a;
    --cor-destaque: #0088ff;

    --cor-texto-2: #9a9a9a;
    --cor-fundo-2: #2d2f33;
    --cor-destaque-2: #2e9dff;

    --cor-destaque-transparente: #0088ff30;

    --max-width-containers: 1280px;
    --global-padding: 40px;

    --radius-cylinder: 999999px;
}

body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

::-webkit-scrollbar {
    background-color: var(--cor-fundo);;
}

::-webkit-scrollbar-thumb {
    background-color: var(--cor-destaque);
    border-radius: var(--radius-cylinder);
}

mark {
    display: inline-block;
    padding: 5px 10px;
    border-radius: var(--radius-cylinder);
    background-color: var(--cor-destaque);
    color: #ffffff;
    font-weight: bold;
}

a{
    color: #ffffff;
    transition: .3s ease;
}

a:hover{
    color: var(--cor-destaque);
}

p{
    line-height: 20pt;
}

.desktop {
    display: initial;
}

.mobile {
    display: none!important;
}

.logo {
    display: flex;
    gap: 10px;
    font-size: 16pt;
    font-weight: 900;
    text-decoration: none;
    text-transform: capitalize;
    width: max-content;
}

.logo .light{
    font-weight: 200;
}

#navbar{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: var(--max-width-containers);
    width: 100%;
    padding: var(--global-padding);
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 2;
}

#navbar .menus {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
    flex-wrap: wrap;
}

#navbar .menus .menu a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    font-size: 10pt;
    width: max-content;
}

#navbar .menus .menu.active a{
    color: var(--cor-destaque);
}

#navbar .menus .menu a .icon{
    width: 15px;
    height: 15px;
    fill: currentColor;
}

#navbar .menus:not(.social-medias) .menu a:before{
    content: '<';
    opacity: 0;
    transition: opacity .3s ease;
}

#navbar .menus:not(.social-medias) .menu a:after{
    content: '>';
    opacity: 0;
    transition: opacity .3s ease;
}

#navbar .menus:not(.social-medias) .menu.active a:before, #navbar .menus .menu.active a:after{
    opacity: 1;
}

#navbar .menus:not(.social-medias) .menu a:hover::before{
    opacity: 1;
}

#navbar .menus:not(.social-medias) .menu a:hover::after{
    opacity: 1;
}

#navbar .social-medias .menu a{
    font-size: 8pt;
}

#navbar .menu-hamburguer {
    display: none;
}

#header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--cor-fundo-2);
    height: 768px;
    position: relative;
    border-bottom: 1px solid transparent;
    border-image-source: linear-gradient(to right, transparent, var(--cor-destaque), transparent);
    border-image-slice: 1;
}

#header::after {
    content: '';
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 200%, var(--cor-destaque) 100px, transparent, transparent);
    position: absolute;
    bottom: 0;
    right: 0;
}

#header .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    max-width: var(--max-width-containers);
    width: 100%;
    height: 100%;
    margin: 0 auto;
    gap: 40px;
    background-image: url('./../img/me 2.png');
    background-repeat: no-repeat;
    background-position: 100% bottom;
    background-size: 720px;
}

#header .content > *{
    max-width: 480px;
    z-index: 2;
}

#header .content .stacks-areas{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#header .content .stacks-areas .stack{
    background-color: var(--cor-destaque);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease;
    user-select: none;
}

#header .content .stacks-areas .stack:hover{
    background-color: var(--cor-destaque-2);
}

#header .content:has(.button:empty) .stacks-areas .stack {
    opacity: 0;
    pointer-events: none;
}

#header .content:has(.button:not(:empty)) .stacks-areas .stack {
    opacity: 1;
    pointer-events: auto;
    animation: fadeIn .3s 1.3s ease both;
}

#header .content .title-container, #header .content .description-container{
    display: flex;
    flex-direction: column;
}

#header .content .title-container .title{
    font-size: 30pt;
    font-weight: 400;
}

#header .content .description-container .description{
    color: var(--cor-texto-2);
}

#header .content .button {
    max-width: 200px;
    font-size: 18pt;
    margin-right: auto;
    margin-top: 40px;
}

#content{
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 100px 0;
}

#content > section{
    max-width: var(--max-width-containers);
    width: 100%;
    padding: 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#content > section .mini-title{
    font-size: 10pt;
    color: var(--cor-texto-2);
}

#content > section .title{
    font-size: 28pt;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

#content > section .title .mini-title {
    margin-left: 100px;
}

#content > section .title.center{
    text-align: center;
}

#content > section .sub-title{
    font-size: 18pt;
    font-weight: 300;
}

#content > section .description{
    color: var(--cor-texto-2);
    font-size: 10pt;
}

#content > section.row{
    flex-direction: row;
    gap: 150px
}

#content > section.row .left-content, #content > section.row .right-content{
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 1;
}

#content .skills{
    position: relative;
}

#content .skills .left-content .wrapper{
    display: flex;
    flex-direction: column;
    box-shadow: 0 60px 60px rgba(0, 0, 0, .3);
}

#content .skills .left-content .wrapper .skill {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
    background-color: var(--cor-fundo-2);
    cursor: pointer;
    transition: .3s ease;
    border: 1px solid var(--cor-destaque);
    border-top: none;
    border-bottom: none;
    border-image-slice: 1;
}

#content .skills .left-content .wrapper .skill:first-child {
    border-image-source: linear-gradient(to top, var(--cor-destaque), transparent);
    border-bottom: none;
    border-radius: 10px 10px 0 0;
}

#content .skills .left-content .wrapper .skill:last-child {
    border-image-source: linear-gradient(to bottom, var(--cor-destaque), transparent);
    border-top: none;
    border-radius: 0 0 10px 10px;
}

#content .skills .left-content .wrapper .skill:hover{
    transform: perspective(1000px) translateZ(50px);
    box-shadow:  0 15px 120px var(--cor-destaque-transparente);
    z-index: 2;
}

#content .skills .left-content .wrapper .skill .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18pt;
    transition: .3s ease;
}

#content .skills .left-content .wrapper .skill:hover .title{
    color: var(--cor-destaque);
}

#content .skills .left-content .wrapper .skill .title .icon{
    width: 30px;
    height: 30px;
    fill: var(--cor-destaque);
}

#content .skills .left-content .wrapper .skill .projects{
    font-size: 10pt;
}

#content .skills .right-content .sticky-content{
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: sticky;
    top: 40px;
}

#content .companies .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

#content .companies .wrapper .companie{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition: .3s ease;
    text-decoration: none;
    font-weight: bold;
    font-size: 18pt;
    filter: saturate(0) brightness(30%);
}

#content .companies .wrapper .companie:hover{
    filter: saturate(0) brightness(100%);
}

#content .companies .wrapper .companie img{
    max-width: 140px;
    height: 60px;
    object-fit: contain;
}

#content .projects{
    align-items: center;
    gap: 100px;
}

#content .projects .wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    width: 100%;
}

#content .projects .wrapper .project {
    --padding: 40px;
    padding-top: calc((1 / 1) * 100%);
    position: relative;
    border-radius: 40px;
    background-color: var(--cor-fundo-2);
    cursor: pointer;
    transition: .3s ease;
    overflow: hidden;
}

#content .projects .wrapper .project:hover {
    box-shadow: 0 30px 60px rgba(0, 0, 0, .2);
}

#content .projects .wrapper .project .infos {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding);
    width: 100%;
    gap: 40px;
    z-index: 2;
    background: linear-gradient(to bottom, var(--cor-fundo-2) 75%, transparent);
}

#content .projects .wrapper .project .infos .title {
    font-size: 18pt;
    font-weight: bold;
    transition: .3s ease;
}

#content .projects .wrapper .project .infos .techs {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

#content .projects .wrapper .project .infos .techs .tech {
    background-color: var(--cor-destaque);
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 8pt;
    cursor: pointer;
    transition: .3s ease;
    color: #ffffff;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .2);
}

#content .projects .wrapper .project .infos .techs .tech:hover {
    background-color: var(--cor-destaque-2);
}

#content .projects .wrapper .project .image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(100% - var(--padding));
    height: 85%;
    transform: rotate(10deg) translate3d(10%, 15%, 0);
    object-fit: cover;
    object-position: top left;
    border-radius: 20px;
    box-shadow: 30px 30px 60px rgba(0, 0, 0, .3);
    transition: .3s ease;
}

#content .customers-reviews .reviews {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

#content .customers-reviews .reviews .review{
    display: flex;
    flex-direction: column;
}

#content .customers-reviews .reviews .review:hover:hover {
    z-index: 2;
}

#content .customers-reviews .reviews .review *:empty::after {
    content: '';
    min-width: var(--placeholder-width);
    height: 15px;
    border-radius: var(--radius-cylinder);
    backdrop-filter: brightness(80%);
    display: inline-block;
}

#content .customers-reviews .reviews .review .message {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 60px;
    background-color: var(--cor-fundo-2);
    border-radius: 10px;
    position: relative;
    min-height: 240px;
    border: 1px solid transparent;
    border-image-source: linear-gradient(to right, transparent 10px, var(--cor-destaque) 45px, transparent calc(100% - 10px));
    border-image-slice: 1;
    transition: .3s ease, height 1.5s ease;
}

#content .customers-reviews .reviews .review:hover .message {
    box-shadow: 0 30px 120px var(--cor-destaque-transparente);
}

#content .customers-reviews .reviews .review .message::before {
    --size: 40px;
    --clip-path: polygon(0 100%, 100% 0, 100% 100%);
    content: '';
    position: absolute;
    top: calc((100% - var(--size) / 2) - 1px);
    left: 45px;
    width: var(--size);
    height: var(--size);
    border-radius: 0 0 10px 0;
    border-bottom: 1px solid var(--cor-destaque);
    border-right: 1px solid var(--cor-destaque);
    background-color: var(--cor-fundo-2);
    transform: rotate(45deg);
    clip-path: var(--clip-path);
    -webkit-clip-path: var(--clip-path);
    -moz-clip-path: var(--clip-path);
}

#content .customers-reviews .reviews .review .message::after{
    content: '';
    width: 100px;
    height: 100px;
    background-image: url('./../svg/quote.svg');
    position: absolute;
    top: 60px;
    right: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    filter: invert(100%);
    opacity: .05;
}

#content .customers-reviews .reviews .review .message .rating{
    --placeholder-width: 100px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 8pt;
    color: var(--cor-texto-2);
}

#content .customers-reviews .reviews .review .message .rating .stars{
    display: flex;
    align-items: center;
    gap: 5px;
}

#content .customers-reviews .reviews .review .message .rating .stars .star{
    width: 15px;
    height: 15px;
    fill: var(--cor-destaque);
}

#content .customers-reviews .reviews .review .message .text {
    --placeholder-width: 200px;
    --mask-image: linear-gradient(to top, transparent, black);
    font-family: Roboto, Arial, Helvetica, sans-serif;
    line-height: 28pt;
    font-size: 18pt;
    font-weight: 300;
    overflow: hidden;
}

#content .customers-reviews .reviews .review .message:has(button.see-more) .text:not(:empty) {
    -webkit-mask-image: var(--mask-image);
    -moz-mask-image: var(--mask-image);
    mask-image: var(--mask-image);
}

#content .customers-reviews .reviews .review .message button.see-more {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 20px;
    border: none;
    background-color: var(--cor-destaque);
    border-radius: var(--radius-cylinder);
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

#content .customers-reviews .reviews .review .message button.see-more .icon {
    width: 20px;
    height: 20px;
    fill: #ffffff;
    transition: .3s ease;
}

#content .customers-reviews .reviews .review .message.see-more {
    height: 100%!important;
}

#content .customers-reviews .reviews .review .message.see-more .text {
    --mask-image: none;
}

#content .customers-reviews .reviews .review .message.see-more button.see-more .icon {
    transform: rotate(180deg);
}

#content .customers-reviews .reviews .review .customer {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 40px;
    transition: .3s ease;
}

#content .customers-reviews .reviews .review .customer .avatar{
    width: 50px;
    height: 50px;
    object-fit: cover;
    flex: none;
    border-radius: 50%;
}

#content .customers-reviews .reviews .review .customer .infos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#content .customers-reviews .reviews .review .customer .infos .name{
    --placeholder-width: 100px;
}

#content .customers-reviews .reviews .review .customer .infos .service{
    display: inline-flex;
    align-items: center;
    gap: 5px;
    --placeholder-width: 50%;
    font-size: 8pt;
    color: var(--cor-texto-2);
}

#footer{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 100px 0;
    background-color: var(--cor-fundo-2);
}

#footer .columns{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "col1 col2";
    row-gap: var(--global-padding);
    column-gap: 150px;
    max-width: var(--max-width-containers);
    width: 100%;
    margin: 0 auto;
    padding: var(--global-padding);
}

#footer .columns .column{
    display: flex;
    flex-direction: column;
    gap: 40px;
    overflow: hidden;
}

#footer .columns .column:first-child{
    grid-area: col1;
}

#footer .columns .column:last-child{
    grid-area: col2;
}

#footer .columns .column .title{
    font-weight: 400;
}

#footer .columns .column .mini-title{
    font-size: 10pt;
    color: var(--cor-texto-2);
}

#footer .columns .column .email-and-location {
    display: flex;
    flex-direction: column;
    gap: 5px;
    word-break: break-word;
}

#footer .columns .column .email-and-location .location{
    font-size: 14pt;
    color: var(--cor-texto-2);
}

#footer .columns .column .email-and-location .email{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
}

#footer .columns .column .menus{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    list-style: none;
    margin-left: -18px;
}

#footer .columns .column .menus .menu a{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-size: 10pt;
    width: max-content;
}

#footer .columns .column .menus .menu.active a{
    color: var(--cor-destaque);
}

#footer .columns .column .menus .menu a .icon{
    width: 15px;
    height: 15px;
    fill: currentColor;
}

#footer .columns .column .menus .menu a:before{
    content: '<';
    opacity: 0;
    transition: opacity .3s ease;
}

#footer .columns .column .menus .menu a:after{
    content: '>';
    opacity: 0;
    transition: opacity .3s ease;
}

#footer .columns .column .menus .menu.active a:before, #navbar .menus .menu.active a:after{
    opacity: 1;
}

#footer .columns .column .menus .menu a:hover::before{
    opacity: 1;
}

#footer .columns .column .menus .menu a:hover::after{
    opacity: 1;
}

#footer .columns .column .social-medias{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

#footer .columns .column .social-medias li a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    font-size: 8pt;
    width: max-content;
}

#footer .columns .column .social-medias li a .icon{
    width: 15px;
    height: 15px;
    fill: currentColor;
}

#footer .columns .column .copyright {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: auto;
}

#footer .columns .column .copyright p{
    font-size: 8pt;
    color: var(--cor-texto-2);
}

@media (max-width: 1095px) {

    #navbar .menus {
        display: none;
    }

    #navbar .menu-hamburguer {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: space-between;
        width: 50px;
        height: 20px;
        background: none;
        border: none;
        cursor: pointer;
    }

    #navbar .menu-hamburguer .line {
        display: block;
        height: 5px;
        width: 100%;
        background: #ffffff;
        border-radius: var(--radius-cylinder);
        cursor: inherit;
    }

    #sidebar {
        --padding: 20px;
        display: flex!important;
        flex-direction: column;
        position: absolute;
        top: 100px;
        right: 0;
        min-width: 30vw;
        max-height: calc(100vh - 100px);
        background-color: var(--cor-fundo);
        padding: var(--padding);
        gap: 40px;
        border-radius: 20px;
        z-index: 9999999;
        opacity: 0;
        pointer-events: none;
        transition: .3s ease;
    }
    
    #sidebar.show {
        opacity: 1;
        pointer-events: auto;
    }

    #sidebar::before {
        --clip-path: polygon(0 0, 100% 0, 0 100%);
        --size: 20px;
        content: '';
        position: absolute;
        bottom: calc(100% - (var(--size) + 1px) / 2);
        right: calc((var(--global-padding) + 50px + var(--size)) / 2);
        width: var(--size);
        height: var(--size);
        background: var(--cor-fundo);
        border-radius: 5px 0 0 0;
        clip-path: var(--clip-path);
        -webkit-clip-path: var(--clip-path);
        -moz-clip-path: var(--clip-path);
        transform: rotate(45deg);
    }
    
    #sidebar nav {
        overflow-y: auto;
        padding-right: var(--padding);
    }

    #sidebar nav, #sidebar .menus {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 20px;
    }

    #sidebar .menus:not(.social-medias) {
        flex-direction: row;
        justify-content: space-evenly;
        background-color: var(--cor-fundo-2);
        padding: 5px;
        border-radius: 5px;
    }

    #sidebar .menus .menu a{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        text-decoration: none;
        font-size: 10pt;
        width: max-content;
    }
    
    #sidebar .menus .menu.active a{
        color: var(--cor-destaque);
    }
    
    #sidebar .menus .menu a .icon{
        width: 15px;
        height: 15px;
        fill: currentColor;
    }
    
    #sidebar .menus:not(.social-medias) .menu a:before{
        content: '<';
        opacity: 0;
        transition: opacity .3s ease;
    }
    
    #sidebar .menus:not(.social-medias) .menu a:after{
        content: '>';
        opacity: 0;
        transition: opacity .3s ease;
    }
    
    #sidebar .menus:not(.social-medias) .menu.active a:before, #sidebar .menus .menu.active a:after{
        opacity: 1;
    }
    
    #sidebar .menus:not(.social-medias) .menu a:hover::before{
        opacity: 1;
    }
    
    #sidebar .menus:not(.social-medias) .menu a:hover::after{
        opacity: 1;
    }
    
    #sidebar .social-medias .menu a{
        font-size: 8pt;
    }

}

@media (max-width: 940px) {

    #header .content {
        background-image: none;
    }

}

@media (max-width: 853px) {

    :root {
        --global-padding: 20px;
    }

    .desktop {
        display: none!important;
    }
    
    .mobile {
        display: initial!important;
    }

    .logo.mobile {
        display: flex!important;
    }

    #sidebar {
        top: 80px;
    }

    #header .content {
        padding: var(--global-padding);
    }

    #content > section {
        padding: var(--global-padding);
    }

    #content > section.row {
        flex-direction: column;
        gap: 20px;
    }

    #content > section .title .mini-title {
        margin: 0;
    }

    #content .projects .wrapper {
        grid-template-columns: 1fr;
    }
    
    #content .customers-reviews .reviews {
        grid-template-columns: 1fr;
    }

    #footer .columns {
        grid-template-areas: 'col2 col2' 'col1 col1';
        gap: 100px;
    }

    #footer .columns .column .copyright {
        flex-direction: column;
        gap: 5px;
    }

}